<div class="border p-1 mb-3">
    <div class="mb-1">
        <a class="p-1" href="javascript:void(0)" onclick="format('bold')"><span class="fa fa-bold fa-fw"></span></a>
        <a class="p-1" href="javascript:void(0)" onclick="format('italic')"><span class="fa fa-italic fa-fw"></span></a>
        <a class="p-1" href="javascript:void(0)" onclick="format('underline')"><span class="fa fa-underline fa-fw"></span></a>
        <a class="p-1" href="javascript:void(0)" onclick="format('insertunorderedlist')"><span class="fa fa-list fa-fw"></span></a>
    </div>
    <div class="border p-1 texteditor" id="texteditor<%=id%>" style="min-height: 100px;" contenteditable="true">
        <%-text %>
    </div>
</div>