<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Courses</title>
</head>
<body>
    <h1>All Courses</h1>
    <a href="/courses/new">Add New Course</a>
    <%for(let course of courses){%>
        <div>
            <a href="/courses/<%=course._id%>"><p><%=course.name%></p></a>
            <p>
                <%=course.code%>
            </p>
            
        </div>
    <%}%>
</body>
</html>
