<%-include('../partials/header',{title: "Settings"})%>
<%-include('../partials/sidebar',{active:"settings",courseId:id}) %> 
<div class="card">
    <div class="card-body">
      <h5 class="card-title">Features Coming Soon...</h5>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">Allow for Anonymous Asking</li>
      <li class="list-group-item">Allow teacher to make join anyone in the course without notifying</li>
    </ul>
  </div>

<%-include('../partials/sidebarFooter')%> 
<%-include('../partials/footer')%>