<%-include('../partials/header',{title: "New Question"})%>
    <h1>Add New Question</h1>
    <form action="/courses/<%=id%>/lectures/<%=lectureId%>/comments" method="post">
        <div class="mb-3">
            <label for="topic">Topic: </label>
            <input class="form-control" type="text" name="comment[topic]" id="topic">
        </div>
        <div class="mb-3">
            <label for="text">Text: </label>
            <textarea class="form-control" name="comment[text]" id="text" rows="3"></textarea>
        </div>
        <button>Submit</button>
    </form>
<%-include('../partials/footer')%>