<%-include('../partials/header',{title: "New Question"})%>
    <h1>Add New Question</h1>
    <form action="/courses/<%=id%>/lectures/<%=lectureId%>/comments" method="post">
        <label for="topic">Topic: </label>
        <input type="text" name="comment[topic]" id="topic">
        <button>Submit</button>
    </form>
<%-include('../partials/footer')%>