<%-include('../partials/header',{title: "Login"})%>
<h1>Login</h1>
<form class="needs-validation" novalidate action="/login" method="post">
    <div class="mb-3">
        <label for="username">Username:</label>
        <input type="text" name="username" id="username" required>
        <div class="valid-feedback">
            Looks good!
        </div>
        <div class="invalid-feedback">
            Please choose a username.
        </div>
    </div>
    <div class="mb-3">
        <label for="password">Password:</label>
        <input type="password" name="password" id="password" required>
        <div class="valid-feedback">
            Looks good!
        </div>
        <div class="invalid-feedback">
            Please choose a password.
        </div>
    </div>
    <div class="mb-3">
        <button class="btn btn-primary" type="submit">Log In</button>
    </div>
</form>
<form action="/auth/google" method="GET">
    <button type="submit"> GOOGLE BUTTON </button>
  </form>
<%-include('../partials/footer')%>